<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <div class="jumbotron jumbotron bg-cover">
  <div class="overlay"></div>
    <h1 class="display-4">Eat-Da-Burger!</h1>

    <p class="lead">Enter the burgers that you want to eat, and then DEVOUR THEM!!!1!</p>
    </div>
  </div>
</div>
<div class = "container" id="addBurger">
    <div class="col-md-10">
<form>
  <div class="form-group">
    <label for="addBurger"></label>
    <input type="text" class="form-control" id="addingBurger" aria-describedby="burgerText" placeholder="Enter your dream burger here">
    <small id="burger" class="form-text text-muted">Meat not required!</small>
  </div>
  
  <button type="submit" class="btn btn-warning">add your burger</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-4-md">
        <div class="panel-panel default">
            <ul class="list-group">
                {{#each burgers}}
                    {{#unless this.devoured}}
                    <li class="list-group-item">
                        <div class="input-group">
                            <p class="lead">{{this.burger_name}}</p>
                            <span class="input-group=btn">
                                <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                                    <button class="btn btn-danger btn-lg" type="submit">FINISH IT!</button>
                                </form>
                            </span>
                        </div>
                    </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4-md">
        <div class="panel-panel default">
            <ul class="list-group">
                {{#each burgers}}
                    {{#if this.devoured}}
                    <li class="list-group-item">
                        <div class="input-group">
                            <p class="lead">{{this.burger_name}}</p>
                        </div>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
