.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
    z-index: 0;
  }
  
  .bg-cover {
    background-size: cover;
    color: whitesmoke;
    background-position: center center;
    position: relative;
    z-index: -2;
    background-image: url("../img/burger-png-18.png");   
    background-repeat: no-repeat; 
  }
  
  .overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  body {
      background-color: rgb(236, 240, 26);
  }
